%h1 Edit Presentation
%form{:action => '/presentations', :method => 'post'}
  %input{:type => 'hidden', :name => '_method', :value => 'put'}
  %table{:cellpadding => 7, :cellspacing => 0, :border => 0}
    %tr
      %td.label
        Presentation Title
      %td
        %input{:type => 'text', :name => 'title', :value => @presentation.title}
    %tr
      %td/
      %td
        %input{:type => 'submit', :value => 'Create'}