!!! Strict
%html{ :xmlns => "http://www.w3.org/1999/xhtml" }
  %head
    %title= slide_show_title
    %link#framing{ :href => "ui/framing.css", :rel => "stylesheet", :media => "projection", :type => "text/css" }
    %link#s5_core{ :href => "ui/s5-core.css", :rel => "stylesheet", :media => "projection", :type => "text/css" }
    %link#pretty{ :href => "ui/pretty.css", :rel => "stylesheet", :media => "projection", :type => "text/css" }
  %body
    .layout
      #controls
      #currentSlide
      #header
        %h1
          Presentations
        %h2
          = Time.now.strftime('%Y-%m-%d')
      #footer
    .presentation
      =yield
