%h1 New Presentation
%form{:action => '/presentations', :method => 'post'}
  %table{:cellpadding => 7, :cellspacing => 0, :border => 0}
    %tr
      %td.label
        Presentation Title
      %td
        %input{:type => 'text', :name => 'title', :value => ''}
    %tr
      %td
        %input{:type => 'submit', :value => 'Create'}